Options -Indexes -MultiViews
RewriteEngine On

# Ensure Authorization header is passed to PHP
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<FilesMatch "\.(env|json|lock|log|md|gitignore)$">
    Order allow,deny
    Deny from all
</FilesMatch>
